@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Number): @Html.DisplayFor(model => model.Number)</h3>


<br>
<br>
<p>@Html.ActionLink("Edit this stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to stylist list", "Index")</p>